<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="bookmarkedChart hide" id="bookmarkedChart"></div>
    <div class="content">
        <div class="searchBox">
        </div>
        <div class="main">
          <div id="map">
            <input id="input" class="controls" type="text" placeholder="Search Box">
          </div>
          <div class="">
            <div class="header">
              <div class="headerTitle">Vanilla MeetUP</div>
              <div class="bookMark">
                <div class="bookmarkHeart"><i class="fas fa-heart" id="bookmarkHeart"></i></div>
                <div class="bookmarkCounter"></div>
              </div>
            </div>
            <div class="listWrapper">
              <div class="meetupListChart">
                <div class="listHeader">
                </div>
                <div class="list">
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
