// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
    background-color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.meetupListChart{
  background-color: skyBlue;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee Inline', cursive;
  font-size: 20px;
}

#map {
  width: 900px;
  height:500px;
}

.listHeader {
  width: 90%;
  height: 10%;
  background-color: white;
  margin: 2px;
}

.list {
  width: 90%;
  height: 80%;
  background-color: white;
  margin: 2px;
  display : flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

// body.classList.add('eventBody');
// header.classList.add('eventHeader');
// eventTitle.classList.add('eventTitle');
// groupTitle.classList.add('groupTitle');
// member.classList.add('eventMember');
// details.classList.add('eventDetails');
// date.classList.add('eventDate');
// time.classList.add('eventTime');

.eventBody {
  width: 95%;
  background-color: skyBlue;
  margin: 3px;
}

.eventHeader {
  width: 100%;
  // height: 50px;
  background-color: skyBlue;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  font-family: 'Bungee Inline', cursive;
  font-size: 20px;
}

.eventTitle {
  width: 100%;
  // height: 95%;
}

.groupTitle {
  font-size: 12px;
  width: 100%;
  // height: 95%;
}

.eventMember {
  width: 100%;
  // height: 50px;
}

.eventDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  // height: 50px;
}

.eventDate {
  width: 45%;
  // height: 50px;
}

.eventTime {
  width: 45%;
  // height: 50px;
}

.emptyMessage {
  margin-top: 150px;
  font-size: 30px;
}

.chosenMeetUp {
  border: solid 2px black;
}
