// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
    background-color: white;
    font-family: 'Righteous', cursive;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all 1s ease-out;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  // background-image: url('../images/vinicius-amano-581378-unsplash.jpg');
  // background-image: url('../images/swimming.jpg');
  // background-color: #F1EEE6;
  background-color: white;
  // background-color: black;
  background-size: 110%;
  position: relative;
}

#input {
  width: 300px;
  height: 40px;
  margin: 10px 0 0 0;
  border: none;
  font-size: 20px;
  font-family: 'Righteous', cursive;
}

.bookmarkedChart {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  width: 500px;
  height: 650px;
  overflow: scroll;
  right: 40px;
  top: 40px;
  z-index: 3;
  // opacity: 0.95;
  border-radius: 10px;
  padding-left: 10px;
}

#bookmarkedChart {
  transition: all 1s ease-out;
}

.hide {
  display: none;

}

.meetupListChart{
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  color: white;
  padding: 30px 0 0 35px;
  margin: 0 0 10px 0;
  // text-shadow: 2px 2px 2px #AEDBFD;
}

.spaceContainer {
  // width: 10%;
}

.headerTitle {
  color: black;
  width: 320px;
  font-family: 'Righteous', cursive;
}

.bookMark {
  margin: 0 0 50px 0;
  font-size: 35px;
  color: #DD4A68;
  z-index: 4;
}

#map {
  margin: 10px 0 0 0;
  width: 850px;
  height:700px;
  border-radius: 3px;
  opacity: 0.95;
  z-index: 2;
}

.listHeader {
  width: 100%;
  height: 5%;
  margin: 2px;
  display: none;
}

.list {
  width: 100%;
  height: 600px;
  margin: 2px;
  display : flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.eventBody {
  width: 100%;
  color: white;
  // background-color: #AEDBFD;
  background-color: black;
  // background-color: #F1EEE6;
  // border: solid 1px white;
  // border-right: solid 4px white;
  border-bottom: solid 1px white;
  margin: 3px;
  opacity: 0.9;
  border-radius: 5px;
  padding: 5px;
  // text-shadow: 2px 2px 2px black;
}

.bookmarkedEventBody {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 3px;
  // opacity: 0.9;
  // border-radius: 10px;
  border-bottom: solid 1px white;
  padding: 5px;
  position: relative;
}

.bookmarkedEventHeader {
  width: 95%;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  margin: 3px 0 3px 0;
  // text-shadow: 2px 2px 2px black;
}

.eventTitleWrapper {
  font-family: 'Righteous', cursive;
  // background-color: white;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin: 3px 0 3px 5px;
  display: flex;
  height: 200px;
  width: 97%;
  justify-content: space-around;
  padding: 5px 0 0 10px;
  text-shadow: 2px 2px 2px black;
}

.eventTitleWrapperWithoutPic {
  border-radius: 5px;
  color: black;
  background-color: white;
  // text-shadow: 2px 2px 2px black;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  margin: 3px 0 3px 5px;
  display: flex;
    width: 97%;
  justify-content: space-around;
  padding: 5px 0 0 10px;
}

.heart {
  padding: 0 5px 0 0;
  color: #DD4A68;
  text-shadow: none;
  font-size: 30px;
}

.eventTitle {
  width: 333px;
}

.groupTitle {
  // opacity: 1;
  // font-size: 14px;
  width: 100%;
}

// .subHeader {
//   width: 100%;
// }

.eventInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 8px 0 0 5px;
  font-size: 15px;
}

.eventMember {
  width: 60px;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 5px 0;
}

.eventDetailsWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 5px 0 5px 13px;
  // border-left: solid 1px white;
  // padding: 0 0 0 5px;
}

.eventDetails {
  width: 100%;
}

.emptyMessage {
  padding: 250px 0 0 5px;
  font-size: 33px;
  color: white;
  font-weight: 800;
  border: solid 2px white;
  border-radius: 10px;
  width: 350px;
  height:600px;
  background-color: black;
  opacity: 0.8;
}

.chosenMeetUp {
  border: solid 2px black;
}

.hostImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin : 5px 10px 5px 5px;
}

.bookmarkedHostImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin : 5px 5px 5px 10px;
}

.deleteBookmark {
  position: absolute;
  right: 5px;
  top: 1px;
  font-size: 25px;
}
